<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://bulma.io">
      <%= image_tag "dou_logo.png", alt: "logo", class: "logo"%>
    </a>
    
  </div>
  
  <div class="navbar-menu">
    
    <div class="navbar-end">
      <%= link_to "Home", root_path, class: "nav-item" %>
      <%= link_to "My projects",root_path, class: "nav-item" %>
      <%= image_tag "divine.png" %>
      <%= link_to "Ian Tran" %>
      <%= image_tag "heart.png" %>
      <%= image_tag "setting.png" %>
      
      
    </div>
  </div>
  
</nav>