<!DOCTYPE html>
<html>
<head>
  <title>Boo</title>
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render "shared/navbar" %>
  
  <div class="all-content columns">
    <!-- The controller -->
    <div class="content-controller column is-3">
      <div class="controller-inside">
        <%= image_tag "search.png" %>
        <div class="mini-divine">|</div>
        <%= image_tag "default.png" %>
        <%= image_tag "heart.png" %>
        <%= image_tag "view.png" %>
        <%= image_tag "comment.png" %>
      </div>
    </div>
    
    <!-- The page content -->
    <div class="page-content column is-12">
      <%=yield %>
    </div>
    
  </div>
</body>
</html>
