<!DOCTYPE html>
<html>
<head>
  <title>Boo</title>
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://bulma.io">
        <%= image_tag "dou_logo.png", alt: "logo", class: "logo"%>
      </a>
      
    </div>
    
    <div class="navbar-menu">
      
      <div class="navbar-end">
        <%= image_tag "setting.png" %>
      </div>
    </div>
    
  </nav>
  <div class="all-content columns">
    <!-- The controller -->
    <div class="content-controller column is-3">
      <div class="controller-inside">
        <%= image_tag "search.png" %>
        <div class="mini-divine">|</div>
        <%= image_tag "default.png" %>
        <%= image_tag "heart.png" %>
        <%= image_tag "view.png" %>
        <%= image_tag "comment.png" %>
      </div>
    </div>
    
    <!-- The page content -->
    <div class="page-content column is-12">
      <%=yield %>
    </div>
    
  </div>
  <div class="page-content column is-12">
    <%=yield %>
  </div>
  
  
  
  
  
</body>
</html>
