<!DOCTYPE html>
<html>
<head>
  <title>Boo</title>
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar is-marginless is-paddingless is-gapless">
    <div class="navbar-brand">
      <a class="navbar-item" href="http://bulma.io">
        <%= image_tag "dou_logo.png", alt: "logo", class: "logo"%>
      </a>
      
      
      
      
    </div>
  </nav>
  <div class="all-content columns is-centered">
    <div class="content-controller column is-3">
      <div class="controller-inside">
        <%= image_tag "search.png" %>
        <div class="mini-divine">|</div>
        <%= image_tag "default.png" %>
        <%= image_tag "heart.png" %>
        <%= image_tag "view.png" %>
        <%= image_tag "comment.png" %>
      </div>
    </div>
    
  </div>
  
  
  
  <%= yield %>
  
  
</body>
</html>
